<footer id="footer" class="sixteen columns" data-hook >
  
  <div class="container" >
    <div class="four columns" style="clear;direction:rtl;">
      <%= image_tag "store/logo-white.png", :alt => "Spree Demo Theme", :id => "footer-logo" %>
      <br>
      <br>
      <div class="phone" style="clear;direction:rtl;">
        <a href="callto:012341234567">052-234-1234-567</a>
        </div>
      <br>
      <div class="email" style="clear;direction:rtl;">
        <a href="mailto:demo@spreecommerce.com">store@motousa.co.il</a>
      </div>
      <br>
      <div class="address" style="clear;direction:rtl;">
הצטרך לעידכונים הכי חמים בפייסבוק שלנו

      </div>
    </div>
    
    <div class="four columns" style="clear;direction:rtl;">
      <h5 style="clear;direction:rtl;">הכי שווה</h5>
      <ul style="clear;direction:rtl;">
        <li style="clear;direction:rtl;"><a href="/products">מחיר פיצוץ</a></li>
        <li style="clear;direction:rtl;"><a href="/products">הכי נמכרים</a></li>
        <li style="clear;direction:rtl;"><a href="/products">מיוחדים</a></li>
        <li style="clear;direction:rtl;"><a href="/products">לפי סוג</a></li>
        <li style="clear;direction:rtl;"><a href="/products">לפי מה קורה</a></li>
        <li style="clear;direction:rtl;"><a href="/products">שרות</a></li>        
      </ul>
    </div>
    
    <div class="four columns" style="clear;direction:rtl;">
      <h5 style="clear;direction:rtl;">שרותים שלנו</h5>
      <ul style="clear;direction:rtl;">
        <li style="clear;direction:rtl;"><a href="/products">למה אצלנו?</a></li>
        <li style="clear;direction:rtl;"><a href="/products">ציוד רכיבה ישירות מארה"ב</a></li>
        <li style="clear;direction:rtl;"><a href="/products">למה אנחנו הכי זולים</a></li>
        <li style="clear;direction:rtl;"><a href="/products">שאלות ותשובות</a></li>
        <li style="clear;direction:rtl;"><a href="/products">קונים מגיבים</a></li>
        <li style="clear;direction:rtl;"><a href="/products">מוקד שירות</a></li>
      </ul>
    </div>
    
    <div class="four columns" style="clear;direction:rtl;">
      <h5  style="clear;direction:rtl;">חשוב לדעת</h5>
      <p  style="clear;direction:rtl;">
      MotoUsa.co.il
      הינו השירות היחיד בישראל שנותןשמאפשר לך קניה ישירה מספק בארהב עם הבטחת מחיר סופית עד דלת הבית בי   אנו דואגים לכל שירותי המיסוי והשילוח באמינות שרות סופר גבוהה עבורך הרוכב
      </p>
    </div>
    
  </div>
</footer>