<nav id="top-nav-bar" class="columns ten" style="direction:rtl;float:right">
  <ul id="nav-bar" class="inline" data-hook  style="text-align:right;float:right;direction:rtl">
    <li id="search-bar" data-hook>
      <%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>
</nav>
